[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
lxml = "*"
html5lib = "*"
descartes = "*"
geopandas = "*"
pandas = "*"
plotly = "*"
dash = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3"
