[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
lxml = "*"
html5lib = "*"
descartes = "*"
geopandas = "*"
pandas = "*"
plotly = "*"
dash = "*"
matplotlib = "*"
pytest = "*"
attrs = "*"
beautifulsoup4 = "*"
certifi = "*"
chardet = "*"
click = "*"
click-plugins = "*"
cligj = "*"
dash-core-components = "*"
dash-html-components = "*"
dash-renderer = "*"
dash-table = "*"
fake_headers = "*"
future = "*"
idna = "*"
itsdangerous = "*"
kiwisolver = "*"
munch = "*"
numpy = "*"
pyparsing = "*"
pyproj = "*"
python-dateutil = "*"
pytz = "*"
requests = "*"
retrying = "*"
six = "*"
soupsieve = "*"
urllib3 = "*"
webencodings = "*"
Brotli = "*"
Cycler = "*"
Fiona = "*"
Flask = "*"
Flask-Compress = "*"
Jinja2 = "*"
MarkupSafe = "*"
Pillow = "*"
Shapely = "*"
Werkzeug = "*"

[dev-packages]

[requires]
python_version = "3"
